@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;500&display=swap');

.instructions {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.instructions_title {
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 300;
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 3rem;
}

.instructions_step_block {
    display: inline-flex;
    align-items: flex-start;
    margin-top: 2%;
}

.instructions_step {
    width: 25%;
    display: inline;
    margin-right: 2%;
}

.number_title {
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.6rem;
    color: #80ED99;
    display: inline;
}

.step_title {
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 2.2rem;
    margin-bottom: 0rem;
    color: #1E1E1E;
    display: inline;
}


/* .instructions_step_title_wallet {
    background-image: url("../public/wallet9.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 120px 70px;
}

.instructions_step_title_polygon {
    background-image: url("../public/polygon5.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 120px 70px;
} */

.instructions_step_text {
    font-family: 'M PLUS 2', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.15rem;
    width: 75%;
    color: #6C757D;
    margin-bottom: 0rem;
    margin-top: 0.7rem;
}

.instructions_image_position {
    display: inline;
    vertical-align: bottom;
}

.instructions_cards {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 930px) {
    .instructions_step {
        width: 100%;
        display: inline;
        text-align: center;
    }
    .instructions_step_text {
        font-family: 'M PLUS 2', sans-serif;
        font-style: normal;
        font-weight: 100;
        font-size: 1rem;
        width: 100%;
        color: #6C757D;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    .instructions_step_block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .instructions_step_title {
        font-family: 'M PLUS 2', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 2.4rem;
        width: 100%;
        margin-right: 0%;
        color: #1E1E1E;
        text-align: center;
    }
    .instructions_step_title_wallet {
        background-image: none
    }
    
    .instructions_step_title_polygon {
        background-image: none
    }
    /* .instructions_step_text_wallet {
        background-image: url("../public/wallet9.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 150px 100px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    
    .instructions_step_text_polygon {
        background-image: url("../public/polygon5.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 150px 100px;
        padding-top: 2%;
        padding-bottom: 2%;
    } */
}