@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;500&display=swap');

.last_raffles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 6vh;
    /* padding-right: 10vw;
    padding-left: 10vw; */
    width: 100%;
    min-width: 0;
    /* background-color: #f4f3ee; */
}

.last_winners_table {
    font-family: 'M PLUS 2', sans-serif;
    font-weight: light;
    font-size: 1rem;
    table-layout: auto;
    width: 100%;
    --bs-table-border-color: rgb(255 255 255 / 0%);
}

.table_header {
    background-color: #80ED99;
}

.last_winners_table_title {
    font-family: 'M PLUS 2', sans-serif;
    /* font-weight: bold; */
    font-weight: 300;
    font-size: 3.8rem;
    /* font-size: 3rem; */
    text-align: center;
    margin-bottom: 3rem;
}

.last_raffles_table_numbers {
    white-space: nowrap;
    padding-right: 13vw !important;
    padding-left: 1.5rem !important;
}


/* width 0 px width and up */
@media (max-width: 550px) { 
    
    .last_raffles_table_numbers {
        white-space: nowrap;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
 }