@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@200;500&display=swap');

.last_raffles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 6vh;
    width: 100%;
    min-width: 0;
}

.last_winners_table {
    font-family: 'M PLUS 2', sans-serif !important;
    font-size: 1rem !important;
    table-layout: auto !important;
    width: 100% !important;
    --bs-table-border-color: rgb(255 255 255 / 0%) !important;
}

.table_header {
    background-color: #80ED99;
}

.last_winners_table_title {
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 300;
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 3rem;
}

.last_raffles_table_numbers {
    white-space: nowrap;
    padding-right: 13vw !important;
    padding-left: 1.5rem !important;
}


/* width 0 px width and up */
@media (max-width: 550px) { 
    
    .last_raffles_table_numbers {
        white-space: nowrap;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    .last_raffles_table_numbers {
        white-space: nowrap;
        padding-right: 6vw !important;
        padding-left: 1rem !important;
    }
 }